<!DOCTYPE html>
<!--our chosen language to work in-->
<html lang="en">
    <!--the head where we store all of the things we dont want to see on the page-->
<head>
    <!--putting in a details about our project and liking our css..plus our title-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<!--what we will actually see-->
<body>
    <!--the main header-->
    <h1>Todo List: </h1>
    <!--setting up an un organized list of of task to be completed-->
    <ul class="todoItems">
        <!--adding some js so that we can go add everything in our db list to the page-->
    <% for(let i=0; i < items.length; i++) {%>
        <!--1st list item, with js that checks if the item is marked as completed
            if it is check it off other wise just add the thing its self-->
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <!--add an icon of trash can to be able to delete it with our js-->
            <span class='fa fa-trash'></span>
        </li>
        <!--close the js-->
    <% } %>
    </ul>
    <!--second header for tasks left to do-->
    <h2>Left to do: <%= left %></h2>
    <!--another second header to add new tasks to our list-->
    <h2>Add A Todo:</h2>

    <!-- a form for adding new tasks with an input field for the item to do and an
        input to submit said task-->
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    
    <!--linking our js to our page-->
    <script src='js/main.js'></script>
</body>
</html>
